
@media (max-width: 361px ) {
  .container {
    align-items: center ;
    background-color: #ff2800 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 100vh;
  }

  .content {
    align-items: center;
    background-color: white;
    border: 2px #e3665f solid;
    border-radius: 10px;
    flex-direction: column;
    height: 30%;
    justify-content: center;
    margin-bottom: 60px;
    width: 250px;
  }

  ::placeholder {
    color: #ffa283;
    text-align: center;
  }

  .login-input {
    border: #ff2800 solid 1px;
    border-radius: 10px;
    color: #ff2800;
    margin: 10px;
    padding: 5px;
  }

  .login-button {
    width: 200px;
    background-color:#ff2800;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
    margin-top: 10px;
  }

  form {
    margin-top: 20px;
  }

  .logo {
    width: 250px;
    color: white;
  }
}