@media (max-width: 361px ) {
  body {
    width: 360px;
  }

  .polaroid {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: #ff2800;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .recipe-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .recipe-image {
    width: 300px;
    border: white 5px solid;
    border-radius: 10px;
  }

  @font-face {
    font-family: Louis;
    src: url(./fonts/Louis\ George\ Cafe\ Bold.ttf)
  }

  .recipe-title {
    font-size: 20px;
    font-family: Louis ;
    color: white;
    text-align: center;
    height: 10px;
    margin-top: 4px;
  }

  .category {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px
  }

  .category-button {
    margin: 5px;
    font-weight: 800;
    width: 90px;
    border-radius: 10px;
    border: solid #ff2800 1px;
    background-color: white;
    color: #ff2800;
  }

  .category-button:hover {
    background-color: #ff2800;
    color: white;
  }

  .first-buttons {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
  }
}